/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
	/* background-color: var(--bg-color); */
	/* background-image: url('../images/cover-image-dark.png'); */
	background-position:center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	outline:1px solid #fff;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  display: grid; 
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 768px;
  align-items: center;
}

.decorated-zone {
}

.decorated-zone::before {
	content: '';
	position: absolute;
	/* top: 10px; */
	/* right:10px; */
	inset-block-start: 20px;
	inset-inline-end: 20px;
	width: 26px;
	height: 26px;
	block-size: 26px;
	inline-size: 26px;
	border-block-start:1px solid var(--accent-color);
	border-inline-end:1px solid var(--accent-color);
    color: var(--accent-color);
	/* inset-inline: 10px 26px; */
    /* inset: 10px 10px 0px 0px; */
	/* inset: 10px 26px; */
}

.rec {
	position: absolute;
	top:21px;
	right: 31px;
	font-size: 18px;
	color: var(--accent-color);
	font-family: var(--main-font);
	font-size: 18px;
	display: flex;
	gap: 10px;
}

.rec::after {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	box-shadow: 0 0 4px 2px var(--accent-color);
	background-color: var(--accent-color);
	align-self: center;
}

.decorated-zone::after {
	content: '';
	position: absolute;
	bottom: 20px;
	left:20px;	
	width: 26px;
	height: 26px;
	border-block-end:1px solid var(--accent-color);
	border-inline-start:1px solid var(--accent-color);
	/* inset: 0px 0px 10px 10px; */
}


.header__theme-menu {
	align-self: start;
}

.header__theme-menu-list {
display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  list-style: none;
  color: var(--accent-color);
  margin-block-start: 20px;
  font-size: 18px;
  font-family: var(--main-font);
}

.header__theme-menu-button {
	text-transform: lowercase;
	border:none;
	background-color: transparent;
}

.header__REC {
	color:var(--accent-color);
	font-family: var(--main-font);	
}

.header__title {
font-size: clamp(7.25rem, 5.2999rem + 8.3205vw, 10.625rem);
font-size: 158px;
color: var(--title-color);
font-family: var(--main-font);
text-shadow: 4px 4px 0 var(--accent-color);
line-height: 120px;
}

.header__sub-title {
    justify-self: right;
    max-width: 490px;
    background-color: var(--subtitle__background-color);
    color: var(--text-color);
    font-family: var(--main-font);
    margin: 0px 21px 18px 0;
    font-size: 18px;
	
}

.content-section {
	display: grid;
	grid-template-columns: 315px 1fr ;
	grid-template-rows: repeat(2,auto);
}

.section-point {

}

.title-text {

}

.content-text {
	
}