/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex mono";
  --accent-font: "IBM Plex mono";
  --bg-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206,1);
  --accent-color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --subtitle__background-color: rgba(255, 0, 112, 1);
  --subtitle__text-color:rgba(0, 0, 40, 1);
  --button-text-color: rgba(255, 0, 112, 1);
  --button-text-color-hover: #ff007066;
  --block-color: rgba(255, 0, 112, 1);
  --dec-color: rgba(255, 0, 112, 1);
  --shadow-color: rgba(255, 0, 112, 1);
}