/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root{
  --main-font: 'IBM Plex mono';
  --accent-font: 'IBM Plex mono';
  --bg-color:rgba(0, 0, 40, 1);
  --text-color:#312a4e;
  --accent-color:rgba(255, 0, 112, 1);
  --title-color:rgba(219, 0, 255, 1);

}